.navbar {
	background-color: #FF6666;
	font-size: larger;
}

.hover-bold a:hover {
	color: white !important;
	font-weight: bold !important;
}

#img-home {
	margin-top: -5px;
}

.admin-message-text {
	font-style: normal;
	font-size: 22px;
	color: #004080;
}

/*for presentation*/
/*for presentation*/
input::-webkit-input-placeholder {
	color: darkslateblue !important;
}

input:-moz-placeholder { /* Firefox 18- */
	color: darkslateblue !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
	color: darkslateblue !important;
}

input:-ms-input-placeholder {
	color: darkslateblue !important;
}

textarea::-webkit-input-placeholder {
	color: darkslateblue !important;
}

textarea:-moz-placeholder { /* Firefox 18- */
	color: darkslateblue !important;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
	color: darkslateblue !important;
}

textarea:-ms-input-placeholder {
	color: darkslateblue !important;
}