.navbar {
    background-color: #FF6666;
    font-size: larger;
}

.alert-success {
    text-align: center;
}

#img-home {
    margin-top: -5px;
}

.hover-bold a:hover {
    color: white !important;
    font-weight: bold !important;
}

legend {
    color: #FF6666;
}

/*for presentation*/
/*for presentation*/
input::-webkit-input-placeholder {
    color: darkslateblue !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: darkslateblue !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: darkslateblue !important;
}

input:-ms-input-placeholder {
    color: darkslateblue !important;
}

textarea::-webkit-input-placeholder {
    color: darkslateblue !important;
}

textarea:-moz-placeholder { /* Firefox 18- */
    color: darkslateblue !important;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
    color: darkslateblue !important;
}

textarea:-ms-input-placeholder {
    color: darkslateblue !important;
}