<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Yummy</title>
	<link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body th:background="@{/images/background/1_50percentage.jpg}">
	<!--<form th:action="@{/registration}" method="get">-->
		<!--<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>-->
	<!--</form>	-->
	<!-------HEADER------->
	<div class="header">
		<img th:src="@{/images/logo/yummy_header.png}">
	</div>
	<div class="container-fluid">
		<!-------SUCCESS MESSAGE -->
		<div th:if="${successMessage}" class="alert alert-success alert-dismissable">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>You have succesfully created your account, log in!</strong>
		</div>
		<!-------LOGIN FORM------->
		<div class="login-form">
			<form th:action="@{/login}" method="POST" >
				<img th:src="@{/images/logo/yummy_red.png}" class="img-responsive center-block" width="80%" alt="Yummy" />
				<br/>
				<input type="text" id="email" name="email"  th:placeholder="Email"
					class="form-control" autofocus /> <br/>
				<input type="password"  th:placeholder="Password"
					id="password" name="password" class="form-control" />
				<div align="center" th:if="${param.error}">
					<p style="font-size: 20; color: #FF1C19;">Invalid email or password</p>
				</div>
				<button class="btn btn btn-primary btn-block" name="Submit" value="Login" type="Submit">Log in</button>
				<br/>
				<a th:href="@{/registration}">Not a member yet? <strong>Create an account.</strong></a>
			</form>
		</div>
	</div>
</body>
</html>